name: Keep App Awake
on:
  schedule:
    - cron: '*/10 * * * *'
jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Render App
        run: curl -s https://textingapp.onrender.com/api/simpleHealth > /dev/null